*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
   
    
}

h1{
  background-color: cadetblue;
  width: fit-content;
  font-size: 50px;
  padding: 50px 150px;
  margin: 20px;
  border-radius: 5px;

}

button{
  margin: 20px;
  padding: 10px 20px;
  background-color: cadetblue;
  border: none;
  border-radius: 5px;
}

.reset{

  background-color: rgb(179, 179, 179);
}